@use "../abstracts" as abs;

.departure-airport {
  position: relative;

  width: 100%;
  aspect-ratio: 16 / 9;

  overflow: hidden;

  background-color: abs.$color-secondary-background;
  border: 1px solid abs.$color-borders;

  &__map {
    object-fit: cover;
  }

  &__zone {
    position: absolute;
    z-index: 2;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 14px;

    background-color: rgba(0, 2, 4, 0.26);
    border: 1px solid abs.$color-title-amber;

    font-family: abs.$font-plexmono;
    text-transform: uppercase;
    letter-spacing: 3px;

    color: abs.$color-title-amber;

    cursor: pointer;

    strong {
      font-size: abs.$fs-sm;
    }

    span {
      font-size: 0.7rem;
    }

    &--a {
      top: 5%;
      left: 38%;
      transform: translateX(-50%);
    }

    &--b {
      top: 30%;
      left: 12%;
    }

    &--c {
      top: 14%;
      right: 17%;
    }

    &--d {
      bottom: 18%;
      left: 18%;
    }

    &--e {
      bottom: 38%;
      right: 13%;
    }

    &--f {
      bottom: 8%;
      left: 61%;
      transform: translateX(-50%);
    }
  }
}