@use "../abstracts" as abs;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 18px;
  line-height: 1;
  font-size: abs.$fs-xs;
  font-weight: abs.$font-thin;
  letter-spacing: 3.6px;
  background-color: abs.$color-primary-background;

  &__left {
    display: flex;
    align-items: center;
    gap: 10px;

  }

  &__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: abs.$color-title-amber;
    color: abs.$color-secondary-background;
    font-size: abs.$fs-sm;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &__terminal {
    color: abs.$color-text;
  }

  &__dot {
    color: abs.$color-text;
  }

  &__title {
    color: abs.$color-text;
  }

  &__menu {
    display: flex;
    gap: 32px;
    list-style: none;
  }

  &__link {
    text-transform: uppercase;
    color: abs.$color-text;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: abs.$color-text;
      text-decoration: none;
    }
  }
}
